Pandas Allows you to read both CSV files and excell files.

In [51]:
import pandas as pd
print(pd)

<module 'pandas' from 'c:\\Users\\Swiga\\anaconda3\\Lib\\site-packages\\pandas\\__init__.py'>

In [44]:
'''
To read a CSV file, we use read_csv(), which takes the csvfile as an argument
'''
file = 'data.csv'
if file is not None:
    df = pd.read_csv(file, delimiter="\t")
else:
    raise FileNotFoundError (f"The file does not exists: {file}")

head() and tail() is used to display the data associated with a csv file. 
Head shows the first 5 values. 
Tail shows the last 5 values.

In [45]:
df.head(7)

    Name,Age,Income
0     John,35,50000
1    Alice,28,60000
2  Michael,45,75000
3    Emily,30,55000
4   Robert,42,80000
5     Emma,27,62000
6    David,39,70000

In numpy, shape tell you the structure of the array you are dealing with.
It returns the number of rows; the arrays that are in the dataframe, and the columns pressent.
It does the same here.

In [46]:
df.shape

(16, 1)

We can read all the null values that are associated with the data that we are assesing. It returns a dataframe with boolean values indicating whether True or False. True indicates that the column is empty

In [47]:
df.isna()

    Name,Age,Income
0             False
1             False
2             False
3             False
4             False
5             False
6             False
7             False
8             False
9             False
10            False
11            False
12            False
13            False
14            False
15            False

when we use the sum() after cheking for all the null values, we get a representation of the column names and the number of rows that are empty in them.

In [48]:
df.isna().sum()

Name,Age,Income    0
dtype: int64

We can use the describe() to get insight on the structure of the data. Such insight involves: mean, standard deviation, count. 
It only assesses numerical rows

In [49]:
df.describe()

       Name,Age,Income
count               16
unique              16
top      John,35,50000
freq                 1

You can access individual rows just like we access data from a dictionary:
df['Age] and 
df.get('mine', 'None')

In [56]:
df.get('mine', 'None')

'None'

You can create a list of all the column names using the attribute columns

In [57]:
df.columns

Index(['Name,Age,Income'], dtype='object')

You can remove rows that are associated with null values using data.dropna(inplace = True)