In [1]:
import pandas as pd
from sklearn import linear_model
import csv

In [2]:
filepath= r'C:\Users\Swiga\Downloads\car.csv'

In [3]:
pd.read_csv(filepath)

           Car       Model  Volume  Weight  CO2
0       Toyota        Aygo    1000     790   99
1   Mitsubishi  Space Star    1200    1160   95
2        Skoda      Citigo    1000     929   95
3         Fiat         500     900     865   90
4         Mini      Cooper    1500    1140  105
5           VW         Up!    1000     929  105
6        Skoda       Fabia    1400    1109   90
7     Mercedes     A-Class    1500    1365   92
8         Ford      Fiesta    1500    1112   98
9         Audi          A1    1600    1150   99
10     Hyundai         I20    1100     980   99
11      Suzuki       Swift    1300     990  101
12        Ford      Fiesta    1000    1112   99
13       Honda       Civic    1600    1252   94
14      Hundai         I30    1600    1326   97
15        Opel       Astra    1600    1330   97
16         BMW           1    1600    1365   99
17       Mazda           3    2200    1280  104
18       Skoda       Rapid    1600    1119  104
19        Ford       Focus    2000    1328  105
20        Ford      Mondeo    1600    1584   94
21        Opel    Insignia    2000    1428   99
22    Mercedes     C-Class    2100    1365   99
23       Skoda     Octavia    1600    1415   99
24       Volvo         S60    2000    1415   99
25    Mercedes         CLA    1500    1465  102
26        Audi          A4    2000    1490  104

In [7]:

df = pd.read_csv(filepath)

X = df[['Weight', 'Volume']]
y = df['CO2']

regr = linear_model.LinearRegression()

regr.fit(X, y) 

print(type(regr))

y_prediction = regr.predict(X)
#print(y_prediction)

residuals = y - y_prediction
#print(sum(residuals ** 2))


predictedCO2 = regr.predict([[2000, 1700]])

r_squared = regr.score(X, y)

<class 'sklearn.linear_model._base.LinearRegression'>

c:\Users\Swiga\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [5]:
print(X['Weight'])

0      790
1     1160
2      929
3      865
4     1140
5      929
6     1109
7     1365
8     1112
9     1150
10     980
11     990
12    1112
13    1252
14    1326
15    1330
16    1365
17    1280
18    1119
19    1328
20    1584
21    1428
22    1365
23    1415
24    1415
25    1465
26    1490
Name: Weight, dtype: int64